* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.background {
    background-image: url(Background.png);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50vh;
}

body {
    background-color: #334;
}


.container {
    width: 96vw;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    background-color: #334;
    overflow: hidden;
}


.child {
    color: rgba(255, 255, 255, 0.644);
    padding: 10px;
    text-align: center;

}

h2 {
    color: red;
}