* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.titulo {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    background-color: #333;
}



#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 1.9em;
    border: 1px solid black;
    color: red;
    background-color: #333;
}


#burguer:hover {
    color: goldenrod;
}


#itens {
    display: none;
    background-color: #333;
}



menu > ul {
    list-style-type: none;
}

menu > ul > li {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}


menu a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    color: red;
}


menu a:hover {
    color: goldenrod;
}


.background {
    background-image: url(../new-rush-agora03.jpg);
    height: 82vh;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}




.rodape {
    max-width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.texto {
    padding: 20px;
    margin-bottom: 160px;
    text-align: center;
}